<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>

<p style="font-size: 100px; align-self: center">Homepage</p>
<hr>
<!--/*@thymesVar id="profile" type="com.mykyda.symon.api.database.entity.Profile"*/-->
<div th:if="${profile} != null", style="flex-direction: row">
    <p th:text="${profile.username}">Username</p>
    <img th:src="${profile.profilePicture}" style="width: 25px; height: 25px; border-radius: 15px">
    <p th:text="${profile.followed}">?</p>
    <p th:text="${profile.following}">?</p>
</div>
<hr>
<div th:if="${profile?.showReviews != null}">
    <p style="border-color: black; border-width: 5px" th:each="review : ${profile.showReviews}"
    th:text="|${review.show.title} : ${review.review} : ${review.score}.|">review title: review</p>
</div>
</body>
</html>